@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@media only screen and (max-width: 600px) {
  .container {
    background-color: transparent;
    margin: auto;
  }
  .container h1 {
    color: hsl(5, 85%, 63%) !important;
    font-weight: 700;
    font-size: 16px;
  }
  .container h2 {
    color: black;
    font-size: 15px;
  }
  .container h3 {
    color: black;
    font-size: 15px;
  }
  .container p {
    width: 100%;
    color: hsl(236, 13%, 42%);
    font-size: 12px;
    padding-top: 10px;
    text-indent: 10px;
    line-height: 21px;
    letter-spacing: 0.5px;
  }
  .container a {
    color: hsl(5, 85%, 63%);
  }
  .container li {
    color: hsl(236, 13%, 42%);
    font-size: 12px;
    /* padding-top: 10px; */
  }
  .container code {
    font-family: "Outfit";
    letter-spacing: 1px;
    font-size: 13px !important;
  }
  .container button {
    font-size: 14px;
  }
  .container ol {
    margin-left: -15px;
  }
  .container ol li:only-child {
    margin-top: -20px !important;
    background-color: blue;
  }
  .container pre {
    margin-top: -10px;
    font-size: 13px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .container {
    background-color: transparent;
    margin: auto;
  }
  .container h1 {
    color: hsl(5, 85%, 63%) !important;
    font-weight: 700;
    font-size: 18px;
  }
  .container h2 {
    color: black;
    font-size: 16px;
  }
  .container h3 {
    color: black;
    font-size: 15px;
  }
  .container p {
    width: 100%;
    color: hsl(236, 13%, 42%);
    font-size: 13px;
    padding-top: 10px;
    text-indent: 10px;
    line-height: 21px;
    letter-spacing: 0.5px;
  }
  .container a {
    color: hsl(5, 85%, 63%);
  }
  .container li {
    color: hsl(236, 13%, 42%);
    font-size: 13px;
    /* padding-top: 10px; */
  }
  .container code {
    font-family: "Outfit";
    letter-spacing: 1px;
    font-size: 13px !important;
  }
  .container button {
    font-size: 14px;
  }
  .container ol {
    margin-left: -15px;
  }
  .container ol li:only-child {
    margin-top: -20px !important;
    background-color: blue;
  }
  .container pre {
    margin-top: -10px;
    font-size: 13px;
    font-weight: 500;
    padding-top: 5px;
    padding-left: 15px !important;
    background-color: rgb(222, 219, 219);
    padding-bottom: 5px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .container {
    background-color: transparent;
    margin: auto;
    width: 80%;
  }
  .container h1 {
    color: hsl(5, 85%, 63%) !important;
    font-weight: 700;
    font-size: 23px;
  }
  .container h2 {
    color: black;
    font-size: 16px;
  }
  .container h3 {
    color: black;
    font-size: 15px;
  }
  .container p {
    width: 100%;
    color: hsl(236, 13%, 42%);
    font-size: 14px;
    padding-top: 10px;
    text-indent: 10px;
    line-height: 21px;
    letter-spacing: 0.5px;
  }
  .container a {
    color: hsl(5, 85%, 63%);
  }
  .container li {
    color: hsl(236, 13%, 42%);
    font-size: 13px;
    letter-spacing: 0.5px;
    padding-top: 10px;
  }
  .container code {
    font-size: 13px;
    font-family: "outfit";
    letter-spacing: 0.5px;
    background-color: rgb(233, 231, 231);
    padding: 5px;
  }
  .container pre {
    font-size: 13px;
    color: red;
    font-weight: 500;
    padding: 30px !important;
    background-color: rgb(233, 231, 231);
  }
  .container button {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1201px) {
  .container {
    background-color: transparent;
    margin: auto;
    width: 80%;
  }
  .container h1 {
    color: hsl(5, 85%, 63%) !important;
    font-weight: 700;
    font-size: 23px;
  }
  .container h2 {
    color: black;
    font-size: 18px;
  }
  .container h3 {
    color: black;
    font-size: 16px;
  }
  .container p {
    width: 100%;
    color: hsl(236, 13%, 42%);
    font-size: 14px;
    padding-top: 10px;
    text-indent: 10px;
    line-height: 21px;
    letter-spacing: 0.5px;
  }
  .container a {
    color: hsl(5, 85%, 63%);
  }
  .container li {
    color: hsl(236, 13%, 42%);
    font-size: 14px;
    letter-spacing: 0.5px;
    padding-top: 10px;
  }
  .container code {
    font-size: 13px;
    font-family: "outfit";
    letter-spacing: 0.5px;
    background-color: rgb(233, 231, 231);
    padding: 5px;
  }
  .container pre {
    font-size: 13px;
    font-weight: 500;
    padding: 20px;
    background-color: rgb(233, 231, 231);
  }
  .container button {
    font-size: 13px;
  }
}
