.cards {
  font-family: "outfit";
  margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  .leftcard {
    object-fit: contain;
    width: 160px;
    margin: auto;
    padding-top: 10px;
  }
  .rightcard {
    padding: 5px;
    padding-bottom: 10px;
  }
  .title {
    color: hsl(240, 100%, 5%) !important;
    font-size: 15px;
    font-weight: 700;
  }
  .text {
    color: hsl(240, 100%, 5%) !important;
    font-size: 13px;
    opacity: 60%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .leftcard {
    object-fit: contain;
    width: 150px;
    margin: auto;
    padding-top: 10px;
    padding-left: 10px;
  }

  .rightcard {
    padding: 5px;
    padding-bottom: 10px;
  }
  .title {
    color: hsl(240, 100%, 5%) !important;
    font-size: 15px;
    font-weight: 700;
  }
  .text {
    color: hsl(240, 100%, 5%) !important;
    font-size: 13px;
    opacity: 60%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .cards {
    margin-bottom: 20px;
  }
  .leftcard {
    object-fit: contain;
    width: 160px;
    margin: auto;
    padding-top: 10px;
    padding-left: 10px;
  }

  .rightcard {
    padding: 5px;
    padding-bottom: 10px;
  }
  .title {
    color: hsl(240, 100%, 5%) !important;
    font-size: 17px;
    font-weight: 700;
  }
  .text {
    color: hsl(240, 100%, 5%) !important;
    font-size: 14px;
    opacity: 60%;
  }
}

@media only screen and (min-width: 1201px) {
  .cards {
    margin-bottom: 20px;
  }
  .leftcard {
    object-fit: contain;
    width: 200px;
    margin: auto;
    padding-top: 10px;
    padding-left: 10px;
  }

  .rightcard {
    padding: 20px;
    padding-bottom: 10px;
  }
  .title {
    color: hsl(240, 100%, 5%) !important;
    font-size: 18px;
    font-weight: 700;
  }
  .text {
    color: hsl(240, 100%, 5%) !important;
    font-size: 15px;
    opacity: 60%;
  }
}
